.reset{
    visibility: hidden;
}
.jumbotron{
    background-image: url("../images/movieReel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1.5rem 2rem;
}
body{
    background-color: #3B1502;
}
.row{
    color: white;
    text-align: center;
}
img{
    max-width: 30%;
}
.btn{
    width: 50%;
    background-color: #3B1502;
    color: white;
    border-style: none;
    border-radius: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: #DAA30A;
    color: black;
}
.display-4{
    font-family: 'Fascinate Inline', cursive;
}
p{
    font-family: 'Bangers', cursive;
}
.lead{
    font-size: 1.5rem;
}
h2{
    font-family: 'Raleway', sans-serif;
}

